<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codepresso.codepressoblog.mapper.CommentMapper">
    <select id="findByPostIdAndPage" resultType="com.codepresso.codepressoblog.vo.Comment">

    </select>

    <select id="count" resultType="Integer">

    </select>

    <insert id="save">

    </insert>

    <update id="update">

    </update>

    <delete id="delete">

    </delete>
</mapper>